<div class="video-wrapper">
  <video-player class="col-md-4" ng-repeat="peer in peers" vid-src="{{peer.stream}}"></video-player>
</div>

<div class="video-wrapper">
  <div class="col-md-2">
    <video ng-src="{{getLocalVideo()}}" autoplay muted></video>
  </div>
</div>

<div id="name" class='row' ng-hide='clicked'>
  <button class="btn btn-default" ng-click="start({video: true, audio: true})"> Video/Audio </button>
  <button class="btn btn-default" ng-click="start({video: false, audio: true})"> Audio </button>
  <button class="btn btn-default" ng-click="start({video: true, audio: false})"> Video </button>
</div>
